body
{
	margin: 0px;
	font-family: sans-serif;
}
a
{
	color: white;
}
table
{
	table-layout: fixed;
}
header
{
	background-color: black;
	height: 96px;
	margin-bottom: 3.2px;
}
header table
{
	width: 200px;
}
header img
{
	float: left;
	height: 96px;
	width: 96px;
	vertical-align: center;
	text-align: left;
}
header a
{
	text-align: right;
	vertical-align: center;
	font-size: 25px;
}
.content
{
	margin-bottom: 3.2px;
	margin-left: 3.2px;
	margin-right: 3.2px;
	background-color: black;
	color: white;
}
.content p
{
	margin: 6.4px;
}
.content table
{
	margin-left: auto;
	margin-right: auto;
	width: 300.8px;
}
.content .title
{
	text-align: left;
}
.content .date
{
	text-align: right;
}
.center
{
	text-align: center;
}
footer
{
	background-color: black;
}
footer table
{
	width: 320px;
}